.root {
  height: 100vh;
  height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: fit-content;
  text-align: center;
  padding: 1rem 0;
}

.title {
  font-size: 1rem;
  margin: 0;
}
